@font-face {
    font-family: 'COMPUTER-Robot';
    src:url('COMPUTER-Robot.ttf.woff') format('woff'),
        url('COMPUTER-Robot.ttf.svg#COMPUTER-Robot') format('svg'),
        url('COMPUTER-Robot.ttf.eot'),
        url('COMPUTER-Robot.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
h1 { 
    margin-top: .8rem;
    margin-bottom: 0;
    font-family: 'COMPUTER-Robot';
    font-size: 5rem;
    color:#6D5ACF;
 }  
 @media screen and (max-width: 900px) {
     h1{
        font-size: 4.3rem;
     }
 } 
 @media screen and (max-width: 700px) {
    h1{
       font-size: 3.5rem;
    }
} 